<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>236926536487-f423u46ndsfsvg9t2lqp2i9l4lkroq12.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.236926536487-f423u46ndsfsvg9t2lqp2i9l4lkroq12</string>
	<key>API_KEY</key>
	<string>AIzaSyDJiXNHNC1sIYhsUwXSbpnkD9g4_9TXuvk</string>
	<key>GCM_SENDER_ID</key>
	<string>236926536487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sef.vk</string>
	<key>PROJECT_ID</key>
	<string>vk-clone-b0862</string>
	<key>STORAGE_BUCKET</key>
	<string>vk-clone-b0862.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:236926536487:ios:0b87ef8c5aed6e2152f702</string>
	<key>DATABASE_URL</key>
	<string>https://vk-clone-b0862.firebaseio.com</string>
</dict>
</plist>